

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	header {
	margin-top: 15px;
	margin-left: 25px;
	}

.header1 {
	font-size: 1.5rem;
	margin-left: 15px;
	width: 100%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.header1 {
		font-size: 2rem;
		margin-bottom: 50px;
		margin-left: 120px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.header1 {
		font-size: 2rem;
		margin-bottom: 50px;
		margin-left: 120px;
	}
}